<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="static/styles/index.css">
</head>
<body>
    <h1>Chat entering</h1>
    <form id="entering_form" method="post">
        <label for="username">Username</label>
        <input name="username" id="username">
        <label for="password">Password</label>
        <input name="password" type="password" id="password">
        <label for="room_name">Room</label>
        <input name="room" id="room_name">
        <button type="submit" id="enter_btn">ENTER</button>
    </form>
</body>
<script type="module" src="static/scripts/index.js"></script>
</html>